pytest
pytest-cov
pytest-asyncio
grpcio
grpcio-tools
googleapis-common-protos
fastapi
uvicorn
httpx
pytest-httpserver
requests
testcontainers[postgres]
psycopg2-binary
boto3
a2a-sdk[all]==0.3.10
bazel-runfiles
